Repository lsst-it/lsst-control, pull requests merged in 2022-11, with the labels that each got.

#688 hiera: add lsstcam-db01 to lsstcam-ccs clustershell config
  hieradata/cluster/lsstcam-ccs.yaml
Labels: ccs

#689 hiera: add role for ccs visualization server
  hieradata/role/ccs-visserver.yaml
Labels: ccs

#692 Puppetfile: bump ccs_monit version
  Puppetfile
Labels: ccs

#691 (azar03.cp node) mount nfs1.cp.lsst.org:{scratch,project}
  hieradata/node/azar03.cp.lsst.org.yaml
  hieradata/role/dco.yaml
  hieradata/site/cp/role/nfsserver.yaml
  spec/hosts/nodes/azar03.cp.lsst.org_spec.rb
  spec/hosts/roles/nfsserver_spec.rb
Labels: author-merge, live-hosts

#584 [the last part of] initial el8 / almalinux support
  hieradata/cluster/auxtel-ccs.yaml
  hieradata/cluster/auxtel-ccs/osfamily/RedHat/major/7.yaml
  hieradata/cluster/comcam-ccs.yaml
  hieradata/cluster/comcam-ccs/osfamily/RedHat/major/7.yaml
  hieradata/role/foreman.yaml
  hieradata/role/foreman/osfamily/RedHat/major/7.yaml
  hieradata/role/foreman/osfamily/RedHat/major/8.yaml
  hieradata/role/ipareplica.yaml
  hieradata/role/ipareplica/osfamily/RedHat/major/7.yaml
  hieradata/role/ipareplica/osfamily/RedHat/major/8.yaml
  hieradata/role/perfsonar.yaml
  hieradata/role/perfsonar/osfamily/RedHat/major/7.yaml
  hieradata/role/perfsonar/osfamily/RedHat/major/8.yaml
  hieradata/role/puppetdb.yaml
  hieradata/role/puppetdb/osfamily/RedHat/major/7.yaml
  hieradata/role/puppetdb/osfamily/RedHat/major/8.yaml
  spec/hosts/roles/ipareplica_spec.rb
Labels: depends-on-another-pr, author-merge, live-hosts

#707 disable icinga on EL9
  hieradata/common.yaml
  hieradata/common/osfamily/RedHat/major/9.yaml
  hieradata/site/cp.yaml
  hieradata/site/dev.yaml
  hieradata/site/ls.yaml
  hieradata/site/tu.yaml
Labels: depends-on-another-pr

#705 (rke role) add EL9 support
  Puppetfile
  hieradata/cluster/pillan/osfamily/RedHat/major/9.yaml
  hieradata/common.yaml
  hieradata/node/pillan08.tu.lsst.org.yaml
  hieradata/role/rke/osfamily/RedHat/major/9.yaml
  site/profile/manifests/core/common.pp
  site/profile/manifests/core/nm_dispatch.pp
  site/profile/manifests/nm.pp
  site/profile/manifests/nm/connection.pp
  spec/classes/core/common_spec.rb
  spec/classes/core/nm_dispatch_spec.rb
  spec/classes/nm_spec.rb
  spec/defines/nm/connection_spec.rb
  spec/hosts/roles/rke_spec.rb
  spec/spec_helper.rb
Labels: depends-on-another-pr, author-merge, live-hosts
