Repository lsst-it/lsst-control, pull requests merged in 2023-06, with the labels that each got.

#834 (spec) disable rspec-puppet coverage reporting
  spec/spec_helper.rb
Labels: enhancement

#836 allow ccs-ipa@auxtel-fp01.ls to ssh to saluser@auxtel-archiver.ls
  Puppetfile
  hieradata/common.yaml
  hieradata/common/osfamily/RedHat/major/7.yaml
  hieradata/node/auxtel-archiver.ls.lsst.org.yaml
  hieradata/role/atsdaq.yaml
  hieradata/role/comcam-fp.yaml
  site/profile/manifests/ccs/krb5_token.pp
  site/profile/manifests/core/common.pp
  site/profile/manifests/core/krb5.pp
  spec/classes/core/krb5_spec.rb
  spec/fixtures/hieradata/common.yaml
  spec/hosts/nodes/auxtel-archiver.ls.lsst.org_spec.rb
  spec/spec_helper.rb
Labels: enhancement, ccs, live-hosts

#837 (gha) add arborist gha workflow
  .arborist.yaml
  .github/workflows/arborist.yaml
Labels: enhancement

#839 migrate autel-archiver.cp nfs exports to nfs-auxtel.cp
  hieradata/node/auxtel-dc01.cp.lsst.org.yaml
  hieradata/node/auxtel-mcm.cp.lsst.org.yaml
  hieradata/role/dm-bastion.yaml
  hieradata/site/cp/role/nfsserver.yaml
  spec/hosts/nodes/auxtel-dc01.cp.lsst.org_spec.rb
  spec/hosts/nodes/auxtel-mcm.cp.lsst.org_spec.rb
  spec/hosts/roles/dm_bastion_spec.rb
Labels: enhancement, author-merge, live-hosts

#840 (node/auxtel-archiver.cp.lsst.org) rm all NFS exports; mount nfs-auxtel:/auxtel
  hieradata/node/auxtel-archiver.cp.lsst.org.yaml
  spec/hosts/nodes/auxtel-archiver.cp.lsst.org_spec.rb
Labels: enhancement, ccs, live-hosts

#842 (site/cp/cluster) bump auxtel and comcam ccs ts_sal version
  hieradata/site/cp/cluster/auxtel-ccs.yaml
  hieradata/site/cp/cluster/comcam-ccs.yaml
Labels: enhancement, ccs

#845 (cluster/auxtel-ccs, comcam-ccs) bump ts_sal version for cycle 31
  hieradata/cluster/auxtel-ccs.yaml
  hieradata/cluster/comcam-ccs.yaml
  hieradata/site/cp/cluster/auxtel-ccs.yaml
  hieradata/site/cp/cluster/comcam-ccs.yaml
  hieradata/site/tu/cluster/auxtel-ccs.yaml
  hieradata/site/tu/cluster/comcam-ccs.yaml
Labels: enhancement, ccs

#849 (cluster/lsstcam-ccs) bump ts_sal version for cycle 31
  hieradata/cluster/lsstcam-ccs.yaml
Labels: enhancement, ccs

#850 (site/ls/role/daq-mgt) updated BTS daq to R5-V6.5
  hieradata/site/ls/role/daq-mgt.yaml
Labels: enhancement, daq

#848 (cluster/pillan) add ip rules for br3035
  hieradata/cluster/pillan/osfamily/RedHat/major/9.yaml
  hieradata/cluster/pillan/role/rke.yaml
  spec/hosts/nodes/pillan08.tu.lsst.org_spec.rb
Labels: bug, author-merge, live-hosts

#851 (node/auxtel-archiver.tu.lsst.org) rm all NFS exports; mount nfs-auxtel:/auxtel
  hieradata/node/auxtel-archiver.tu.lsst.org.yaml
  spec/hosts/nodes/auxtel-archiver.tu.lsst.org_spec.rb
Labels: enhancement, live-hosts

#852 (node/auxtel-{archiver,dc01}.ls.lsst.org) rm all NFS exports; mount nfs-auxtel:/auxtel
  hieradata/node/auxtel-archiver.cp.lsst.org.yaml
  hieradata/node/auxtel-archiver.ls.lsst.org.yaml
  hieradata/node/auxtel-dc01.ls.lsst.org.yaml
  spec/hosts/nodes/auxtel-archiver.cp.lsst.org_spec.rb
  spec/hosts/nodes/auxtel-archiver.ls.lsst.org_spec.rb
  spec/hosts/nodes/auxtel-dc01.ls.lsst.org_spec.rb
Labels: enhancement, live-hosts

#854 (node/auxtel-mcm.cp.lsst.org) remove all NFS mounts -- unused
  hieradata/node/auxtel-mcm.cp.lsst.org.yaml
  spec/hosts/nodes/auxtel-mcm.cp.lsst.org_spec.rb
Labels: enhancement, ccs

#857 (gha) disable github-action-required-labels PR comments
  .github/workflows/pr_labels.yaml
Labels: skip-changelog

#856 (Puppetfile) update all lsst/* modules to drop puppet6 support + update deps
  Puppetfile
Labels: enhancement

#858 (cluster/auxtel-ccs) add ccs release ats-software-2.3.0
  hieradata/cluster/auxtel-ccs.yaml
Labels: enhancement, ccs

#855 (node/core{1-3}.ls) add networking & tests
  hieradata/node/core1.ls.lsst.org.yaml
  hieradata/node/core2.ls.lsst.org.yaml
  hieradata/node/core3.ls.lsst.org.yaml
  spec/hosts/nodes/core1.ls.lsst.org_spec.rb
  spec/hosts/nodes/core2.ls.lsst.org_spec.rb
  spec/hosts/nodes/core3.ls.lsst.org_spec.rb
Labels: enhancement

#847 (foreman.ls) Rename Kueyen Network to Ayekan
  hieradata/site/ls/role/foreman.yaml
  spec/hosts/roles/foreman_spec.rb
Labels: enhancement

#860 (cluster/lsstcam-ccs) bump versions of ccs software and daq sdk
  hieradata/cluster/lsstcam-ccs.yaml
  hieradata/site/ls/cluster/lsstcam-ccs.yaml
Labels: enhancement, ccs

#859 (role/rke) fs.inotify.max_inotify_instances=104857
  site/profile/manifests/core/rke.pp
  spec/spec_helper.rb
Labels: bug

#843 (dev/role) set rke version 1.4.6-rc4
  hieradata/site/dev/role/rke.yaml
  site/profile/manifests/core/rke.pp
  spec/hosts/roles/rke_spec.rb
Labels: enhancement

#863 (site/ls/role/daq-mgt) updated BTS to DAQ R5-V6.7
  hieradata/site/ls/role/daq-mgt.yaml
Labels: enhancement, daq

#862 (profile::core::rke) fix fs.inotify sysctl names
  site/profile/manifests/core/rke.pp
  spec/spec_helper.rb
Labels: bug
